{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Mega Swish</title>

        <!-- <link rel="stylesheet" href="{% static 'swish/styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'swish/styles/another.css' %}"> -->
    </head>

    <body>
        <div id="root"></div>
        <h1 id="megaswish">Hello, world! This is Mega Swish.</h1>
        <h1 id="megaswish1">Hello, again!</h1>

        <script src="{% static 'swish/dist/app.bundle.js' %}"></script>
    </body>
</html>